body {
  padding: 10px;
}
.test3 {
  width: 25px;
  height: 25px;
  border-top: 15px solid red;
  border-right: 15px solid yellow;
  border-bottom: 15px solid blue;
  border-left: 15px solid green;
  transform: rotate(45deg);
}
.line-arrow-down {
  width: 25px;
  height: 25px;
  border-right: 15px solid yellow;
  border-bottom: 15px solid blue;
  transform: rotate(45deg);
}
.line-arrow-left {
  width: 25px;
  height: 25px;
  border-bottom: 15px solid blue;
  border-left: 15px solid green;
  transform: rotate(45deg);
}
.line-arrow-top {
  width: 25px;
  height: 25px;
  border-top: 15px solid red;
  border-left: 15px solid green;
  transform: rotate(45deg);
}
.line-arrow-right {
  width: 25px;
  height: 25px;
  border-top: 15px solid red;
  border-right: 15px solid yellow;
  transform: rotate(45deg);
}
.test4 {
  border: 1px solid red;
  border-width: 0 5px 5px 0;
  padding: 10px;
  display: inline-block;
  margin: 8px 0;
}
.rotate-line-arrow-down {
  transform: rotate(45deg);
}
.rotate-line-arrow-left {
  transform: rotate(135deg);
}
.rotate-line-arrow-right {
  transform: rotate(-45deg);
}
.rotate-line-arrow-up {
  transform: rotate(-135deg);
}

.arrow {
  width: 43px;
  height: 24px;
  margin: 5px;
  border: 1px solid #000;
  border-right: none;
  position: relative;
  background-color: #000;
  color: white;
}
.arrow:before {
  /* content: "";
  position: absolute;
  right: -10px;
  top: 3px;
  width: 17px;
  height: 17px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  transform: rotate(45deg); */

  content: '';
  width: 0;
  height: 0;
  position: absolute;
  right: -15px;
  top: -2px;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 14px solid green;
}
