body {
  padding: 10px;
}
.test3 {
	width: 25px;
    height:25px;
    border-top: 15px solid red;
    border-right: 15px solid yellow;
    border-bottom: 15px solid blue;
    border-left: 15px solid green;
    transform: rotate(45deg);
}
.line-arrow-down {
	width: 25px;
    height: 25px;
    border-right: 15px solid yellow;
    border-bottom: 15px solid blue;
    transform: rotate(45deg);
}
.line-arrow-left {
	width: 25px;
    height:25px;
    border-bottom: 15px solid blue;
    border-left: 15px solid green;
    transform: rotate(45deg);
}
.line-arrow-top {
	width: 25px;
    height:25px;
    border-top: 15px solid red;
    border-left: 15px solid green;
    transform: rotate(45deg);
}
.line-arrow-right {
	width: 25px;
    height:25px;
    border-top: 15px solid red;
    border-right: 15px solid yellow;
    transform: rotate(45deg);
}